Repository destenson/market-data-source: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-version-consistency, validate-cargo-toml, check-rust-format

check-version-consistency:
  name: Check version consistency
  entry: python scripts/sync-version.py --check
  language: system
  pass_filenames: false
  description: Ensure versions are consistent between Cargo.toml and pyproject.toml

validate-cargo-toml:
  name: Validate Cargo.toml
  entry: cargo verify-project
  language: system
  pass_filenames: false
  description: Validate Cargo.toml structure

check-rust-format:
  name: Check Rust formatting
  entry: cargo fmt -- --check
  language: system
  pass_filenames: false
  description: Check Rust code formatting

docs: add comprehensive release process documentation
  docs/RELEASE.md
Due: none

test: refactor invalid configuration tests for GeneratorConfig
  src/config.rs
Due: check-rust-format

remove goddamn emojis!
  scripts/prepare-release.py
Due: none

docs: update CLAUDE.md to emphasize MCP tool usage and memory constraints
  CLAUDE.md
Due: none

docs: streamline release process documentation and clarify version management
  README.md
Due: none

test: update assertions in CouchDB exporter tests for clarity
  tests/couchdb_export_test.rs
Due: check-rust-format

move PRP-27 to completed
  PRPs/completed/27-release-automation-workflow.md
Due: none

docs: enhance TODO.md with detailed descriptions for minor enhancements
  TODO.md
Due: none

fix: update package installation command to target specific wheel file
  .github/workflows/python-test.yml
Due: none

docs: update codebase review report to reflect publication status and next development steps
  codebase-review-report.md
Due: none

fix: correct volume_base type to integer and update related tests
  tests/python/test_generator.py
Due: none

docs: update TODO.md to clarify volume handling with Decimal type
  TODO.md
Due: none

fix: update package installation command and simplify maturin develop command
  .github/workflows/python-test.yml
Due: none

fix: improve wheel file installation process in Python workflow
  .github/workflows/python-test.yml
Due: none

fix: set up virtual environment for maturin develop testing
  .github/workflows/python-test.yml
Due: none

fix: update pyo3 dependency version to 0.24.2
  market-data-source-python/Cargo.toml
Due: check-version-consistency

update package version to 0.3.0-dev
  Cargo.toml
Due: check-version-consistency, validate-cargo-toml

feat: Implement regime control features in market data generator
  Cargo.lock
  Cargo.toml
  src/generator.rs
  src/lib.rs
  src/regimes/controller.rs
  src/regimes/detector.rs
  src/regimes/mod.rs
  src/regimes/statistics.rs
  src/regimes/volatility.rs
  tests/regime_control_integration.rs
Due: check-version-consistency, validate-cargo-toml, check-rust-format

fix: update implementation notes and clarify regime control features in PRP-28 and PRP-29
  PRPs/28-regime-detection-foundation.md
  PRPs/29-regime-transition-engine.md
Due: none

move PRPs 28-29 to completed
  PRPs/completed/28-regime-detection-foundation.md
  PRPs/completed/29-regime-transition-engine.md
Due: none

Update TODO.md to reflect current development status and priorities
  TODO.md
Due: none

Update codebase review report to reflect current development status and publication readiness
  codebase-review-report.md
Due: none

chore: exclude unnecessary directories from the package
  Cargo.toml
Due: check-version-consistency, validate-cargo-toml

feat: add release process documentation for Market Data Source
  .claude/commands/release-next-version.md
Due: none

fix: improve volatility detection logic and enhance test stability
  src/regimes/volatility.rs
Due: check-rust-format

fix: remove unnecessary return statement in transition completion check
  src/regimes/controller.rs
Due: check-rust-format

feat: implement default initialization for ReturnDistribution struct
  src/regimes/statistics.rs
Due: check-rust-format

fix: add metadata for distribution package exclusion
  Cargo.toml
Due: check-version-consistency, validate-cargo-toml

chore: prepare release v0.3.0
  CHANGELOG.md
  Cargo.toml
Due: check-version-consistency, validate-cargo-toml

chore: update version to 0.3.0 for market-data-source and market-data-source-python
  Cargo.lock
Due: none

feat: add MANIFEST.in to include and exclude necessary files for packaging
  MANIFEST.in
Due: none

fix: update exclude patterns in pyproject.toml for improved packaging
  MANIFEST.in
  pyproject.toml
Due: check-version-consistency

feat: create MANIFEST.in to define file inclusion and exclusion for packaging
  MANIFEST.in
Due: none

feat: add LICENSE, README.md, and pyproject.toml for project setup; remove deny.toml and uv.lock
  deny.toml
  market-data-source-python/LICENSE
  market-data-source-python/README.md
  market-data-source-python/TODO.md
  market-data-source-python/pyproject.toml
  uv.lock
Due: check-version-consistency

Path conditions:
  check-version-consistency: any of: (Cargo\.toml|pyproject\.toml)$
  validate-cargo-toml: any of: ^Cargo\.toml$
  check-rust-format: any of: \.rs$
